@charset "utf-8";
/*修饰布局的css，从老师的toefl.css抄过来的，改了其中的图片路径，其他都没变*/

.tfr_left{width:850px; float:left; overflow:hidden;font-family:"宋体"}
.zql_Top{overflow:hidden; border-bottom:solid 1px #333; padding:0 0 20px 20px;}
.zql_Top li{float:left;}
.zql_TopPic{width:82px; height:82px; overflow:hidden;}
.zql_TopPic img{width:82px; height:82px;}
.zql_TopButton{width:100px; padding-top:25px;}
.zql_TopGb{width:100px; height:32px; background:#6b6b6b; border-radius:3px; line-height:32px; text-align:center;color:#fff; display:block;}
.zql_TopText{width:630px; float:left;font-family:"宋体";line-height:30px; padding-top:8px;}
.zql_TopTitle{padding-left:20px; font-size:16px;font-weight:bold;color:#333;}
.zql_TopTitle span{ margin-right:15px;}
.zql_TopTime{padding-left:10px; font-size:14px; line-height:30px;color:#999;}
.zql_TopTime span{ margin:0 10px;}
.zql_TopTime .blue{color:#009FD6; font-weight:normal;}
.zql_TopPic{width:82px; height:82px; overflow:hidden;}
.zql_TopPic img{width:82px; height:82px;}
.zql_TopText{width:630px; float:left;font-family:"宋体";line-height:30px; padding-top:8px;}
.zql_TopTitle{padding-left:20px; font-size:16px;font-weight:bold;color:#333;}
.zql_TopTitle span{ margin-right:15px;}
.zql_TopTime{padding-left:10px; font-size:14px; line-height:30px;color:#999;}
.zql_TopTime span{ margin:0 10px;}
.zql_TopTime .blue{color:#009FD6; font-weight:normal;}
.zql_TopButton{width:100px; padding-top:25px;}
.zql_itemWyjq{padding:0 25px 10px 0; overflow:hidden;}
a.zql_itemWyjqB{width:70px; height:32px; float:right; background: url(../img/群组聊/zql_itemWyjqB.png) 0 0 no-repeat ; line-height:32px;color:#fff; display:block; font-size:12px; padding-left:44px}
a.zql_itemWyjqB:hover{background: url(../img/群组聊/zql_itemWyjqB.png) -120px 0 no-repeat ;}
.zql_item{}
.zql_item ul{overflow:hidden; border-bottom:solid 1px #dcdcdc; padding:20px 0 20px 20px;}
.zql_item li{float:left;}
.zql_itemPic{width:82px; height:82px; overflow:hidden;}
.zql_itemPic img{width:82px; height:82px;}
.zql_itemButton{width:114px; padding-top:5px;}
.zql_itemNum{height:30px; line-height:30px; text-align:center; color:#333; font-size:12px;}
.zql_itemJr,
a.zql_itemJr{width:70px; height:32px; background: url(../img/群组聊/zql_itemJr.png) 0 0 no-repeat ; line-height:32px;color:#fff; display:block;padding-left:44px}
a.zql_itemJr:hover{background: url(../img/群组聊/zql_itemJr.png) -120px 0 no-repeat ;}
.zql_itemText{width:610px; float:left;font-family:"宋体";line-height:24px; padding-top:8px;}
.zql_itemTitle{padding-left:20px; font-size:16px;font-weight:bold;color:#333;}
.zql_itemTitle span{ margin-right:15px;}
.zql_itemTime{padding-left:20px; font-size:14px; line-height:30px;color:#999;}
.zql_itemP{padding-left:20px;color:#555;}
.zql_itemZt{color:#333; font-size:12px;}
.zql_itemZt span{margin-right:10px;}
.zql_itemZt a{color:#009FD6; margin-left:10px; line-height:30px;}
.zql_itemWyjq{padding:0 25px 10px 0; overflow:hidden;}
a.zql_itemWyjqB{width:70px; height:32px; float:right; background: url(../img/群组聊/zql_itemWyjqB.png) 0 0 no-repeat ; line-height:32px;color:#fff; display:block; font-size:12px; padding-left:44px}
a.zql_itemWyjqB:hover{background: url(../img/群组聊/zql_itemWyjqB.png) -120px 0 no-repeat ;}
.zql_itemR{border-bottom:solid 1px #fafafa;}
.zql_itemRtitle{overflow:hidden;}

.pageList{padding:70px 0 20px; overflow:hidden;}
.pageList ul{display:inline-table; float:right; overflow:hidden;}
.pageList li{float:left; display:inline-table; height:33px; line-height:32px; margin:0 3px;}
.pageList li a{color:#656566;}
.pageList li span{color:#009FD6;}
.pageList li a.pret,
.pageList li a.next{width:73px; height:33px; display:block; background:url(../img/群组聊/pageList.jpg) 0 0 no-repeat; text-align:center; color:#fff;}

/*去掉li和ul前面的小黑点*/
ul{list-style: none;}
li{list-style: none;}